.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

section {
  padding: 70px 90px;
}

#comment {
background-color: #f5f2f2; /* Retained original background color */
position: relative; /* For absolute positioning of child elements */
}

/* Carousel customization */
.carousel-item {
  height: 70vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-caption {
  bottom: 270px;
}

.carousel-caption h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
}

/* Navbar customization */
.navbar-light .navbar-nav .nav-link {
  color: #00000080; /* 浅色字体颜色 */
  font-weight: bold; /* Specific to .navbar-brand */
  font-size: 20px;
}

.navbar-light .navbar-brand {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000; /* 浅色字体颜色 */
  font-weight: bold;

}

/* 用于突出显示当前激活链接的样式 */
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000000; /* 突出颜色 */
}

.navbar-toggler {
  background: #fff;
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  }
  
.navbar-nav {
  text-align: center;
}
  
.nav-link {
      padding: .2rem 1rem;
}

/* Card styles - Including customization for images and maintaining the position for buttons */
.card {
  position: relative;
  margin-bottom: 20px;
}

.card-body {
  min-height: 200px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}



