<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourist Attractions Display and Voting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .custom-margin-top { margin-top: 20px; }
    </style>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">WAIT</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/index">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/vote">Vote</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/submit">Submit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/view">View</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="mt-5">Tourist Attractions List</h1>

        <div class="row custom-margin-top">
            <div class="col-md-3">
                <label for="myInput">Country:</label>
                <input type="text" id="myInput" onkeyup="applyFilters()" class="form-control" placeholder="Search for country...">
            </div>
            <div class="col-md-3">
                <label for="myInput_1">Attraction:</label>
                <input type="text" id="myInput_1" onkeyup="applyFilters()" class="form-control" placeholder="Search for attraction...">
            </div>
            <div class="col-md-3">
                <label for="categorySelect">Category:</label>
                <select id="categorySelect" onchange="applyFilters()" class="form-control">
                    <option value="">All Categories</option>
                    <option value="Natural attractions">Natural attractions</option>
                    <option value="Historical attractions">Historical attractions</option>
                    <option value="Urban attractions">Urban attractions</option>
                    <option value="Theme park">Theme park</option>
                    <option value="Outdoor activity attractions">Outdoor activity attractions</option>
                    <option value="Food spots">Food spots</option>
                    <option value="Vacation spot">Vacation spot</option>
                    <option value="Arts and Performance">Arts and Performance</option>
                    <option value="Gym">Gym</option>
                    <option value="Characteristic towns">Characteristic towns</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="myInput_3">City:</label>
                <input type="text" id="myInput_3" onkeyup="applyFilters()" class="form-control" placeholder="Search for city...">
            </div>
        </div>

        <div class="row custom-margin-top">
            <div class="col-md-6">
                <label for="childFriendlyFilter">Child Friendly:</label>
                <select id="childFriendlyFilter" onchange="applyFilters()" class="form-control">
                    <option value="">Any</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="accessibleFilter">Accessible:</label>
                <select id="accessibleFilter" onchange="applyFilters()" class="form-control">
                    <option value="">Any</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
        </div>

        <div class="row custom-margin-top">
            <div class="col-md-12 d-flex justify-content-end">
                <button onclick="sortAttractions('asc')" class="btn btn-primary mr-2">Sort by Votes Ascending</button>
                <button onclick="sortAttractions('desc')" class="btn btn-primary mr-2">Sort by Votes Descending</button>
                <button onclick="clearFilters()" class="btn btn-secondary">Clear Filters</button>
            </div>
        </div>

        <table id="attractionsTable" class="table table-striped table-bordered mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Country</th>
                    <th>Attraction</th>
                    <th>Category</th>
                    <th>City</th>
                    <th>Child Friendly</th>
                    <th>Accessible</th>
                    <th>Votes</th>
                    <th>Vote (Feedback)</th>
                </tr>
            </thead>
            <tbody>
                <!-- Attraction data will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
    <script>
        let userVotedAttractions = [];

        fetch('/get_user_votes', {
            credentials: 'include'
        })
        .then(response => response.json())
        .then(data => {
            userVotedAttractions = data.map(vote => vote.attraction_name);
            loadAttractions(); // Initially load attractions
        })
        .catch(error => {
            console.error('Failed to get user voting records:', error);
        });

        function loadAttractions() {
            fetch('/attractions', { credentials: 'include' })
            .then(response => response.json())
            .then(data => {
                updateTable(data);
            })
            .catch(error => {
                console.error('Failed to load attractions data:', error);
            });
        }

        function updateTable(data) {
            const tableBody = document.getElementById('attractionsTable').querySelector('tbody');
            tableBody.innerHTML = ''; // Clear table body
            data.forEach(attraction => {
                const row = tableBody.insertRow();
                const voted = userVotedAttractions.includes(attraction.name);
                row.innerHTML = `
                    <td>${attraction.country}</td>
                    <td>${attraction.name}</td>
                    <td>${attraction.category}</td>
                    <td>${attraction.city}</td>
                    <td>${attraction.child_friendly ? 'Yes' : 'No'}</td>
                    <td>${attraction.accessible ? 'Yes' : 'No'}</td>
                    <td>${attraction.votes}</td>
                    <td>${voted ? 'Voted' : `<input type="text" class="feedback-input" placeholder="Your feedback" data-attraction-name="${attraction.name}">
                    <button onclick="submitVote('${attraction.name}', this)">Vote</button>`}</td>
                `;
            });
        }

        function submitVote(attractionName, button) {
            const feedbackInput = button.previousElementSibling;
            const feedback = feedbackInput.value.trim();
            if (!feedback) {
                alert('Please enter your feedback!');
                return;
            }

            fetch('/vote_for_attraction', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    attraction_name: attractionName,
                    feedback: feedback
                }),
                credentials: 'include'
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Voting failed');
                }
            })
            .then(data => {
                alert(data.message);
                feedbackInput.value = ''; // Clear the input box
                location.reload(); // Optionally, reload the page to update the vote count
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message);
            });
        }


        function applyFilters() {
            // Retrieve filter values
            var countryFilter = document.getElementById("myInput").value.toUpperCase();
            var attractionFilter = document.getElementById("myInput_1").value.toUpperCase();
            var categoryFilter = document.getElementById("categorySelect").value; // Dropdown
            var cityFilter = document.getElementById("myInput_3").value.toUpperCase();
            var childFriendlyFilter = document.getElementById("childFriendlyFilter").value; // Corrected Dropdown ID
            var accessibleFilter = document.getElementById("accessibleFilter").value; // Corrected Dropdown ID

            var table = document.getElementById("attractionsTable");
            var tr = table.getElementsByTagName("tr");

            // Loop through rows and hide or show
            for (var i = 1; i < tr.length; i++) {
                var tdCountry = tr[i].getElementsByTagName("td")[0];
                var tdAttraction = tr[i].getElementsByTagName("td")[1];
                var tdCategory = tr[i].getElementsByTagName("td")[2];
                var tdCity = tr[i].getElementsByTagName("td")[3];
                var tdChildFriendly = tr[i].getElementsByTagName("td")[4];
                var tdAccessible = tr[i].getElementsByTagName("td")[5];
                var showRow = true;

                // Apply each filter
                if (tdCountry && countryFilter && tdCountry.textContent.toUpperCase().indexOf(countryFilter) === -1) showRow = false;
                if (tdAttraction && attractionFilter && tdAttraction.textContent.toUpperCase().indexOf(attractionFilter) === -1) showRow = false;
                if (tdCategory && categoryFilter !== "" && tdCategory.textContent !== categoryFilter) showRow = false;
                if (tdCity && cityFilter && tdCity.textContent.toUpperCase().indexOf(cityFilter) === -1) showRow = false;
                if (tdChildFriendly && childFriendlyFilter !== "" && (childFriendlyFilter === "Yes" ? tdChildFriendly.textContent !== "Yes" : tdChildFriendly.textContent !== "No")) showRow = false;
                if (tdAccessible && accessibleFilter !== "" && (accessibleFilter === "Yes" ? tdAccessible.textContent !== "Yes" : tdAccessible.textContent !== "No")) showRow = false;

                tr[i].style.display = showRow ? "" : "none";
            }
        }

        function sortAttractions(order) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("attractionsTable");
            switching = true;
            // Run loop until no switching is needed
            while (switching) {
                switching = false;
                rows = table.rows;
                // Loop through all table rows (except the first, which contains table headers)
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    // Get the two elements to compare, one from current row and one from the next
                    x = rows[i].getElementsByTagName("TD")[6]; // Column index for votes might change based on your table structure
                    y = rows[i + 1].getElementsByTagName("TD")[6];
                    // Check if the two rows should switch place based on the direction, asc or desc
                    if (order === "asc" && parseInt(x.textContent) > parseInt(y.textContent) ||
                        order === "desc" && parseInt(x.textContent) < parseInt(y.textContent)) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    // If a switch has been marked, make the switch and mark that a switch has been done
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        function clearFilters() {
            // Reset all input and select elements
            document.getElementById("myInput").value = "";
            document.getElementById("myInput_1").value = "";
            document.getElementById("categorySelect").selectedIndex = 0;
            document.getElementById("myInput_3").value = "";
            document.getElementById("childFriendlyFilter").selectedIndex = 0;
            document.getElementById("accessibleFilter").selectedIndex = 0;
            
            // Reload or re-fetch attractions to reset the table
            loadAttractions();
        }

        // Make sure to call applyFilters() or loadAttractions() appropriately if you want the table to be immediately updated upon clearing filters or sorting.

    </script>
</body>
</html>
